@page
@model ItemDescriptionModel
@{
    ViewData["Title"] = "Item Description";
}
<h1>Item for Sale</h1>
<a href="ViewRatings" class="ItemDesc" data-itemid="@Model.Item.ItemId">View Ratings</a>


<div>
    <table>
        <tbody>
            
            <tr>
                <td>Item ID</td>
                <td>@Model.Item.ItemId</td>
            </tr>
            <tr>
                <td>Item Name</td>
                <td>@Model.Item.ItemName</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@Model.Item.Description</td>
            </tr>
            <tr>
                <td>Category</td>
                <td>@Model.Item.Category</td>
            </tr>
            <tr>
                <td>Condition</td>
                <td>@Model.Item.Condition</td>
            </tr>
            <tr>
                <td>Returns Accepted</td>
                <td>@Model.Item.ReturnsAccepted</td>
            </tr>
            <tr>
                <td>Get It Now price</td>
                <td>@Model.Item.GetItNowPrice</td>
            </tr>
            <tr>
                <td>Auction Ends</td>
                <td>@Model.Item.AuctionEnds</td>
            </tr>
        </tbody>
    </table>
</div>
<script>
$(document).ready(function () {
    $("a.ItemDesc").click(function (event) {
        // Prevent the default behavior of the anchor tag
        event.preventDefault();

        // Get the item ID from the data attribute
        var itemId = $(this).data("itemid");

        // Original href value
        var currentHref = $(this).attr("href");

        // Append the item ID as a query parameter
        var newHref = currentHref + "?id=" + encodeURIComponent(itemId);

        // Set the new href value and navigate to the new URL
        window.location.href = newHref;
    });
});
</script>